Repository Th3S4mur41/th3s4mur41.me: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
	"**/*.{js,mjs,cjs,ts}": ["prettier --write --ignore-unknown", "eslint --fix"],
	"**/*.{css,less,sass,scss}": ["prettier --write --ignore-unknown", "stylelint --fix"],
	"**/*.!{js,mjs,cjs,ts,less,sass,scss}": "prettier --write --ignore-unknown"
}

ci: install optional dependencies
  .github/workflows/build-code.yml
  .github/workflows/lint-code.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

ci: fix typo
  .github/workflows/build-code.yml
  .github/workflows/lint-code.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

build(deps-dev): bump @typescript-eslint/plugin from 7.0.0 to 7.0.2
  package-lock.json
  package.json
Due: none

chore: avoid linting errors on unmatched pattern
  .lintstagedrc.json
Due: none

ci: update workflow to more secure approach
  .github/workflows/checks.yml
  .github/workflows/npm-build.yml
  .github/workflows/npm-lint.yml
  .github/workflows/npm-test.yml
  .github/workflows/on_pr.yml
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
  .github/workflows/pr-lint.yml
  .github/workflows/preview.yml
  .github/workflows/semantic-release.yml
  .github/workflows/sonarqube.yml
  .lintstagedrc.json
  package.json
Due: none

style: fix code format
  biome.json
  commitlint.config.js
  src/pages/index.astro
Due: prettier --write --ignore-unknown, eslint --fix

ci: fix reference to semantic-release workflow
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
Due: none

ci: group dependabot updates
  .github/dependabot.yml
Due: none

chore(deps): regenerate to add missing optional deps
  package-lock.json
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  76b6e65ee13892b759dbedb9fb9d3718b7cc8857
Due: none

ci: skip dependabot metadata actor verification
  .github/workflows/dependabot.yml
Due: none

style: fix code format
  package.json
Due: none

xi: run auto-merge on pull_request_target
  .github/workflows/auto-merge.yml
  .github/workflows/preview.yml
Due: none

build: use biome to lint and format css
  .github/workflows/npm-lint.yml
  .lintstagedrc.json
  .prettierignore
  biome.json
  package.json
  src/index.css
Due: prettier --write --ignore-unknown, stylelint --fix

build: enable biome nursery rules
  biome.json
Due: none

feat: setup page layout
  public/icons/apple-icon-114x114.png
  public/icons/apple-icon-120x120.png
  public/icons/apple-icon-144x144.png
  public/icons/apple-icon-152x152.png
  public/icons/apple-icon-180x180.png
  public/icons/apple-icon-57x57.png
  public/icons/apple-icon-60x60.png
  public/icons/apple-icon-72x72.png
  public/icons/apple-icon-76x76.png
  public/icons/apple-icon-precomposed.png
  public/icons/apple-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-192x192.png
  public/icons/favicon-32x32.png
  public/icons/favicon-96x96.png
  public/icons/icon.svg
  public/manifest.webmanifest
  src/index.css
  src/layouts/Layout.astro
  src/pages/index.astro
Due: prettier --write --ignore-unknown, stylelint --fix

chore: add headers
  src/pages/index.astro
Due: none

chore: fix linting error
  src/index.css
Due: prettier --write --ignore-unknown, stylelint --fix

chore: add initial content concept
  src/content/articles/2018-12-10_Tools-that-improve-team-collaboration-and-code-quality-fad9394c9ec6.md
  src/content/articles/2020-01-09_Mixins--the-good--the-bad--the-ugly--46dee687ab29.md
  src/content/articles/2020-09-29_How-to-display-code-coverage-of-a-Vue-project-in-Gitlab-9d1510a3e794.md
  src/content/articles/2020-12-16_Things-You-Need-To-Test-Your-Web-App-5efbc3028d13.md
  src/content/articles/2022-12-16_How-to-leverage-GitHub-and-semantic-release-to-reduce-vulnerabilities-in-your-packages-c517403e339c.md
  src/content/articles/2024-03-11_Design-for-accessibility--make-your-product-usable-for-all--ab463198de3f.md
  src/content/projects/demo-auto-security-release.md
  src/content/projects/hw2energyid.md
  src/content/projects/mh-photography.com.md
  src/content/projects/purge-svg.md
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/articles.astro
  src/pages/index.astro
  src/pages/projects.astro
Due: none

chore: add astro types
  src/env.d.ts
Due: prettier --write --ignore-unknown, eslint --fix

style: fix lint issue and code format
  .lintstagedrc.json
  package.json
  postcss.config.mjs
  src/content/articles/2020-09-29_How-to-display-code-coverage-of-a-Vue-project-in-Gitlab-9d1510a3e794.md
  src/pages/about.astro
  src/pages/articles.astro
  src/pages/projects.astro
Due: prettier --write --ignore-unknown, eslint --fix

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0df0991d15f1b8385f191e1ae11376dff26316f1
Due: none

chore: remove unnecessary files
  .stylelintrc
  tsconfig.json
Due: none

chore: add sitemap
  astro.config.mjs
  public/robots.txt
  src/layouts/Layout.astro
Due: prettier --write --ignore-unknown, eslint --fix

feat: display articles on main page
  package-lock.json
  src/content/articles/2018-12-10_Tools-that-improve-team-collaboration-and-code-quality-fad9394c9ec6.md
  src/content/articles/2020-01-09_Mixins--the-good--the-bad--the-ugly--46dee687ab29.md
  src/content/articles/2020-09-29_How-to-display-code-coverage-of-a-Vue-project-in-Gitlab-9d1510a3e794.md
  src/content/articles/2020-12-16_Things-You-Need-To-Test-Your-Web-App-5efbc3028d13.md
  src/content/articles/2022-12-16_How-to-leverage-GitHub-and-semantic-release-to-reduce-vulnerabilities-in-your-packages-c517403e339c.md
  src/content/articles/2024-03-11_Design-for-accessibility--make-your-product-usable-for-all--ab463198de3f.md
  src/index.css
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/articles.astro
  src/pages/articles/[slug].astro
  src/pages/index.astro
  src/pages/projects.astro_
Due: prettier --write --ignore-unknown, stylelint --fix

feat: add intro and about me content
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/articles.astro
  src/pages/articles/[slug].astro
  src/pages/index.astro
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8941143feff0309191c1764a3fc7f0f589412e5b
Due: none

chore(biome): update config for v2
  biome.json
Due: none

style: reorder imports and format code
  astro.config.mjs
  package.json
  src/pages/articles/[slug].astro
Due: prettier --write --ignore-unknown, eslint --fix

chore: rename articles to blog
  src/content/blog/2018-12-10_Tools-that-improve-team-collaboration-and-code-quality-fad9394c9ec6.md
  src/content/blog/2020-01-09_Mixins--the-good--the-bad--the-ugly--46dee687ab29.md
  src/content/blog/2020-09-29_How-to-display-code-coverage-of-a-Vue-project-in-Gitlab-9d1510a3e794.md
  src/content/blog/2020-12-16_Things-You-Need-To-Test-Your-Web-App-5efbc3028d13.md
  src/content/blog/2022-12-16_How-to-leverage-GitHub-and-semantic-release-to-reduce-vulnerabilities-in-your-packages-c517403e339c.md
  src/content/blog/2024-03-11_Design-for-accessibility--make-your-product-usable-for-all--ab463198de3f.md
  src/layouts/Layout.astro
  src/pages/blog.astro
  src/pages/blog/[slug].astro
Due: none

feat: setup initial layout
  astro.config.mjs
  src/assets/michael-profile-colors.jpg
  src/assets/th3S4mur41_colors_ultrawide.png
  src/index.css
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/base.css
  src/styles/pages/blog.css
  src/styles/pages/home.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix

feat(about): add initial page layout
  src/assets/michael-profile.png
  src/index.css
  src/pages/about.astro
  src/styles/animation.css
  src/styles/base.css
  src/styles/pages/about.css
  src/styles/pages/home.css
Due: prettier --write --ignore-unknown, stylelint --fix

feat(social): update social icon style
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/base.css
Due: prettier --write --ignore-unknown, stylelint --fix

feat(home): add latest article section
  public/blog/2024-03-11_design-for-accessibility--make-your-product-usable-for-all--ab463198de3f.png
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/styles/base.css
  src/styles/pages/home.css
Due: prettier --write --ignore-unknown, stylelint --fix

feat(social): implement social links component with styling
  src/components/Socials.astro
  src/index.css
  src/layouts/Layout.astro
  src/styles/animation.css
  src/styles/base.css
  src/styles/components/socials.css
Due: prettier --write --ignore-unknown, stylelint --fix
