Repository Th3S4mur41/th3s4mur41.me: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

ci: setupt release branches
  .github/workflows/on_push.yml
Due: none

ci: add missing jobs to release workflow
  .github/workflows/on_push.yml
Due: none

style: fix linter errors
  .prettierignore
  package.json
  src/styles/base/animations.css
  src/styles/base/events.css
  src/styles/base/global.css
  src/styles/elements/a.css
  src/styles/elements/h.css
  src/styles/elements/svg.css
  src/styles/layouts/base.css
  src/styles/layouts/footer.css
  src/styles/layouts/header.css
  src/styles/layouts/main.css
  src/styles/settings/colors.css
  src/styles/settings/fonts.css
  src/styles/utils/utils.css
Due: stylelint --fix

build: move husky to dev deps
  package-lock.json
  package.json
Due: none

build: fix css path
  src/index.html
  src/index.js
  vite.config.js
Due: eslint --fix

ci: update setup-node and runners
  .github/workflows/build-code.yml
  .github/workflows/lint-code.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

ci: set release permissions
  .github/workflows/release.yml
Due: none

ci: auto update actions
  .github/dependabot.yml
Due: none

feat: add dynamic copyright year
  package-lock.json
  package.json
  src/index.html
  vite.config.js
Due: eslint --fix

build: update browserslist for wider support
  .browserslistrc
Due: none

feat: add initial about content
  src/index.html
Due: none

fix: add navigation to legacy layout
  src/styles/base/global.css
  src/styles/layouts/footer.css
  src/styles/layouts/main.css
  src/styles/layouts/nav.css
  src/styles/style.css
Due: stylelint --fix

feat: add static articles
  src/index.html
Due: none

feat: add first project
  src/index.html
Due: none

build: set node and npm environment
  .nvmrc
Due: none

build: add codespaces configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup-python-tools.sh
  .nvmrc
Due: none

build(codespaces): setup npm env in post create command
  .devcontainer/devcontainer.json
  .devcontainer/setup-npm.sh
Due: none

feat: simplify content and design to basics
  src/index.html
  src/styles/base/events.css
  src/styles/base/global.css
  src/styles/elements/h.css
  src/styles/layouts/base.css
  src/styles/layouts/footer.css
  src/styles/layouts/header.css
  src/styles/layouts/main.css
  src/styles/settings/fonts.css
  src/styles/settings/settings.css
Due: stylelint --fix

feat: add social media icons
  src/index.html
  src/styles/layouts/base.css
  src/styles/layouts/footer.css
  src/styles/layouts/main.css
  src/styles/settings/fonts.css
  src/styles/settings/settings.css
Due: stylelint --fix

fix: add drop shadow outline
  src/styles/elements/a.css
Due: stylelint --fix

ci: fix dependencies runner
  .github/workflows/dependencies.yml
Due: none

ci(codeql): enable quality checks
  .github/workflows/codeql.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4cd2ff4dddc477fb978cc1dd5d8d368e3629e52c
Due: none

style(css): fix linter issues
  src/styles/base/global.css
  src/styles/layouts/base.css
  src/styles/settings/fonts.css
  src/styles/style.css
Due: stylelint --fix

ci: cancel previous runs on the same branch
  .github/workflows/on_pr.yml
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
Due: none

ci: publish to cloudflare pages through action
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
Due: none

ci: update PR concurrency group to not impact push workflow
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
Due: none

ci: fix publish project name
  .github/workflows/publish.yml
Due: none

ci: use node version from .nvmrc
  .github/workflows/build-code.yml
  .github/workflows/lint-code.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

chore: fix port forwarding in codespace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup-npm.sh
  .devcontainer/setup-python-tools.sh
  .devcontainer/updateContentCommand.sh
  vite.config.js
Due: eslint --fix

build(deps-dev): remove deprecated stylelint-config-prettier
  .stylelintrc
  package-lock.json
  package.json
Due: none

style: update to media query range notation
  src/styles/layouts/base.css
  src/styles/layouts/footer.css
  src/styles/settings/fonts.css
Due: stylelint --fix

style: format code based on prettier v3
  src/index.html
Due: none

build(style): repleace pretty-quick through lint-staged
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

build(style): remove deprecated stylelint rules
  .stylelintrc
Due: none

build(deps-dev): bump @typescript-eslint/parser from 5.62.0 to 6.3.0
  package-lock.json
  package.json
Due: none

style: fix linter issues
  src/styles/layouts/main.css
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,ts}
  stylelint --fix: any of: **/*.{css,less,sass,scss}
